@model RegisterViewModel

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Register User</h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input class="form-control" asp-for="UserName" />
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input class="form-control" asp-for="Password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input class="form-control" asp-for="ConfirmPassword" />
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input class="form-control" asp-for="City" />
                <span class="text-danger" asp-validation-for="City"></span>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" type="submit" asp-controller="Account" asp-action="Register">Register</button>
            <div asp-validation-summary="All" class="alert-danger"></div>
        </div>
    </div>
</form>