@model EditViewModel


<form enctype="multipart/form-data" asp-controller="Home" asp-action="Create" method="post">
    <div>
        <label asp-for="Name" class="label-field"></label>
        <input asp-for="Name" class="field-field" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Department"></label>
        <select asp-for="Department" asp-items="Html.GetEnumSelectList<DepartmentOptions>()"></select>
        <span asp-validation-for="Department"></span>
    </div>
    <div>
        <label asp-for="FileName"></label>
        <input asp-for="FileName" multiple="multiple" />
    </div>
    <div>
        <label>Uploaded Files:</label>
        <div>
            @foreach (var file in Model.UploadedFiles)
            {
                string fileName = file.Split('_').ToArray().Last();
                string filePath = Model.wwwpath + file.Trim();
                @Html.ActionLink(fileName, "Download", new { link = filePath });
                @Html.ActionLink("Delete File", "DeleteFile", new { link = filePath, id = Model.ID });
                <br />
            }
        </div>
    </div>
    <input hidden asp-for="ID" />
    <button type="submit" asp-controller="Home" asp-action="EditForm">Update</button>
    <div asp-validation-summary="All"></div>
</form>

